.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #304861;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #20f504;
}

p {
  font-size: 2rem;
  color: #e8f802;
  font-family: 'Lobster', cursive;
}

img {
  width: 80%;
}

.btn {
  margin-top: 5%;
  transition-duration: 0.4s;
  font-family: 'Lobster', cursive;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 5px 20px;
  background-color: #20f504;
  color: #EEEEEE;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Lobster', cursive;

}
